*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.bodyindex{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(185,73,43,1) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:"nav nav"
                        "main main"
                        "footer footer" ;
}
nav{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    background-color:rgb(238, 189, 157);
    border-bottom: 1px solid rgb(65, 68, 66)
}
nav img{
    width: 15%;
    margin: auto;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0 10px;

}
nav ul a{
    text-align: center;
    padding-right: 5px;
    color: blue;
    text-decoration: none;
    border-right: 1px solid black;
    color: rgb(255, 255, 255)
}

.mainindex{
    grid-area: main;
    display: flex;
    flex-direction:column;
    padding: 10px;

}
.mainindex .imgprincipal{
    border-radius: 20px;
    border: 1px solid rgb(65, 62, 62);
    margin-bottom: 5px;
    width: auto;
    
    

}
.mainindex .imgsecundarias{
    display: flex;
    height:auto;
    justify-content:center;
}
.mainindex  .imagen1{
    position: relative;
    text-align: center;
    width: 20%;
    border-radius: 10px;
    border: 1px solid rgb(65, 62, 62);
    margin: 0 10px;
}
.mainindex .imagen1 img{
    width: 100%;
    margin: auto;
    border-radius: 10px;
    height:100%;
}
.texto{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 100%;
    margin: auto;
    
}


















footer{
    grid-area: footer;
    display: flex;
    flex-direction:row;
    align-items: center;
    background-color:rgb(238, 189, 157);
    border-top: 1px solid rgb(65, 68, 66);
    width: 100%;
    justify-content: space-around;
    margin: auto;

}
footer .contacto2{

    width: 20%;
    color: white;
    text-align: center;
    
}
h6{
    border-bottom: 1px solid black;
}
footer .redes{
    
    width: 20%;
    color: white;
    text-align: center;
    
}
footer .redes a{
    color: white;
}

footer img{
    width: 32px;
    height: 32px;
    margin: auto;
}