/*hgfhfgh*/
@font-face {font-family: roboto;
src: url(../fonts/Fasthand-Regular.ttf);}
*{   
    margin:0%;padding: 0%;
}
/*para aplicar CSS al html,para modificar solo una etiqueta solo poner el nombre,para cambiar 2 etiquetas se separa con coma ej.th,td.Para modificar el conteniddo interno de etiquetas se ponen 2 etiquetas separas por espacios ej:table th(Class:para modificar solo  elemento x nombres,en css se empeiza con el "punto" y luego la class,ID:se usa el id para modificar soo 1 elemento,se empieza en css con "#".ID>CLASS>ETIQUETA.el asterisco es el selector universal.*/
table:hover{
    border: 0em;
    border-collapse: collapse;
    color: red
    ;
 }
 th,td{
    border:solid 1px
 }
 section h3{
    color: blue;
 }
 form{
    width: 300px;
    color: aquamarine;
 }
 .complicado{
    background-color: blueviolet;
 font-weight: 600!important}
 #facil{
    background-color:rgb(56, 102, 84);
 }
 
 /*PROPIEDASDES CSS:
COLOR,FRONT-SIZE,FRONT-WEIGHT,TEXT ALIGN,FONT-FAMILY,TEXT-DECORATION-LINE,LINE-HIGHT,BACKGROUND-COLOR,PADDING,BACKGROUND-IMAGE: URL,BACKGROUND-SIZE,BACKGROUND-ATTACHMENT,BACKGROUND-POSITION,OPACITY,       */
 .descripcion{
    color:rgb(61, 39, 97);
    line-height: 30px;
    background-color: aquamarine;
    padding: 10px;
 }
 .imagen{
    background-image: url(../img/paisaje-800x409.jpg);width: 100%;height: 600px;
    background-size:cover;
    background-attachment: fixed;
 }
 #chiquita{
    background-image: url(../img/navajo.ico);
    width: 100%;
    height: 200px;
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center right;opacity: 0.5;
 }
 /*
 font-size:cambiar tamaño de la letra
 backgroundd-color:cambiar de color el fondo.
 font-family:tipografia
 line-hight:tamaño del espacio de la letra
font-wight:grosor de la tipografia.
display: line o block:para el tipo de caja
Background-color:cambiar el color de fondo
Padding:sirve para darle distacia de la caja al texto-
TEXT-ALIGN: CENTER:para centrar el texto
MARGIN:la distacia de afuera de la caja 
BORDER-RADIUS:darle forma al borde a la caja
BORDER:darle borde de color a la caja
BOX-SHADOW:dare sombra a la caja
TEXT-SHADOW:darle sombra al texto*/
.titulo{
   color: rgb(240, 175, 236);
   font-size: 24px;
   font-weight: bold;
   text-align: center; 
   text-decoration-line:underline;
   font-style: italic;
   font-family: 'Dancing Script', cursive;
  background-color: brown;
  padding: 20px;
  margin: 10px 20px 30px 40px;
  border-radius: 10px
  ;
  border: 10px solid rgb(46, 47, 114);
   box-shadow: 5px 3px 10px 7px #000;
   text-shadow: 10px 5px 5px rgb(0, 0, 0);}
   
   
   /*OVERFLOW:Para modificar los que se sale de la caja(hidden,scroll,*/
.card{
   width: 200px;
   height: 200px;
   border: 5px;
   border-radius: 10px;
   margin: 30px;
   border-style:double;
   border-color: blueviolet;
   padding-bottom: 10px;
   
   
}
.card__imagen{
   width: 100%;
   border-radius: 10px;
   position: relative;
   bottom: 50px;
   right: 3px;
   border-style: double;
   border-color: blueviolet;
    

}
.card__titulo,.card__desc{
   text-align: center;
}
.card__btn{
   text-align: center;
   background-color: blue;
   color: aliceblue;
   border-radius: 5px;
   padding: 10px;
   display: block;
   width: 100%;
}
/*posicionamiento*/

.caja2{
   width: 100px;
   height: 100px;
   background-color: blue;
   margin: 10px;
}
.red{
   background-color: red;
   position: relative;
   bottom: 100px;
   right: 10px;
}
.blue{
   background-color: blue;
}
.black{
   background-color: #000;
}
/*MENU DESPLEGABLE
POSITION:Se empieza con un top,button y la distancia de comienzo(FIXED,STICKY
Z.INDEX:Para determinar que caja va arriba ded la que tiene mayor numero*/
.navgar{
   width: 100%;
   height: 80px;
   background-color: tomato;
  ;
  top:0px;
  z-index: 2;  
}
.navgar ul{
   list-style-type:none;
   text-align: center;
   position: relative;
   top: 30px;

}
.navgar ul li {
   display: inline;
   padding: 20px;
}
.navgar ul li a{
   text-decoration:
    none;
   ;
   color:white;
   font-size:large;
   ;
}
.navgar ul li ul{
   display: none;
   position: absolute;
   left: 0;
   background-color:tomato;
   color: white;
   font-size: large;

}
.navgar ul li:hover ul{
   display: block;
}
/*FLEXBOX
Display:FLEX:Poner los items uno al lado de otro para hacerlos flexibles.
FLEX-DIRECTION:para ordenar los items de forma horizontal o vertical(row,column)
JUSTIFY-CONTENT:para posicionar el contenido en caja en el eje x
(start,center,end,space...)
ALIGN-ITEMS:para alilear los items en el eje Y.
FLEX-WRAP:ordena los objetos uno arriba de otro dependiendo la resolucion.
GAP:Separa.


*/
.cajaPadre{
   width: 100%;
   margin-top: 1000px;
   height: 300px;
   background-color: blue;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   align-content: center;
}
.cajaHijo1{
   width: 100px;
   height: 50px;
   background-color: red;
}
.cajaHijo2{
   width: 100px;
   
   background-color: rgb(0, 255, 85);
   color: white;
}.cajaHijo3{
   width: 100px;
   height: 50px;
   background-color: rgb(0, 132, 255);
}
/*GRIDS*:Separa la pagina en grillas(en el contenedor padre).
GRID-TEMPLATE-COLUMNS:Agrega columnas a las grillas.
GRID-TEMPLATE-ROWS:Agrega filas a la grillas(fr divide a las columnas por partes)
.
*/
.padre{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 200px 200px;
   column-gap: 10px;
   row-gap: 10px;
   
   
}
.item3 img{
   width: 100%;
   height: 100%;
   object-fit: cover;  
}

body{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 150px 1fr 1fr 100px;
   height: 500px;
   grid-template-areas:"nav header header header" 
   "nav productos productos aside" "nav ofertas ofertas aside" "nav footer footer footer";
   gap: 10px;
}
nav{
   grid-area: nav;
   background-color: blue;
   overflow: scroll;
   
   
}
nav ul{
   display: flex;
   flex-direction: column;
   list-style-type: none;
   align-items: center;
   
   
   
}
nav ul li a{
   text-decoration: none;
   display:inline-block;
   color: aliceblue;
   padding: 40px;
}
header{
   grid-area: header;
   background-color: brown;
}
.productos{
   grid-area:productos;
   background-color: yellow;
   display: grid;
   grid-template-columns: 200px 200px;
   grid-template-rows: 1fr 1fr;
   justify-items: center;
   align-items: center;
   justify-content: center;

}
aside{
   grid-area: aside;
   background-color: tomato;
}
.ofertas{
   grid-area: ofertas;
   background-color: darkgreen;
}
footer{
   grid-area: footer;
   background-color: black;
}


   


 
