.mainindex{
    width: 100%;
    margin: auto;
    grid-area: main;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "img1 "
                         "img2"
                         "img3"
                         "img4";
    background-color: rgb(216, 173, 144);                
    .carrusel{
        @media(max-width:720px){
            margin-top:120px;
        }
        width: 90%;
        grid-area: img1;
        margin: auto;
        z-index: 1;
    }
    .imgsecundarias{
        @media(max-width:910px){
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            grid-template-areas: "simg1 simg2" 
                                "simg3 simg3" 
                                        ;
            margin-bottom: 30px;
            gap: 15px;   
        }
        @media(max-width:720px){
            grid-area: img2;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto;
            grid-template-areas: "simg1" 
                                "simg2" 
                                "simg3"
                                        ;
            margin-bottom: 30px;
        }
        grid-area: img2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "simg1 simg2 simg3";
        margin:30px auto;

        @for $var from 1 to 4 {
            .imagen#{$var}{
                @media(max-width:910px){
                    grid-area: simg#{$var};
                    margin: 0;
                }
                @media(max-width:720px){
                    grid-area: simg#{$var};
                    width: 350px;
                    height: 350px;
                }
                grid-area: simg#{$var}; 
                height: 300px;
                width: 300px;
                position: relative;
                overflow: hidden;    
                margin: 0 10px;
                a img{
                    height: 100%;
                    width: 100%;
                    transition: 0.5s;
                    object-fit:cover;
                    &:hover{
                        transform: scale(1.1);
                        transition: 1s;
                        opacity: .7;
                    }
                }
                h1{
                    font-size: 3rem;
                    color: white;
                    font-weight: 600;
                    font-size: 30px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%)
                }
            }   
        }

    }
    .barrasep{
        grid-area: img3;
        width: 60%;
        margin: auto;
        h2{
            color: white;
            font-size: clamp(10px,5vw,25px);
            font-weight: 600;
            background-color: rgba(255, 158, 174, 0.541);
            text-align: center;
            padding: 10px;
        }
    }
    .contenedor{
        @media(max-width:1000px){
            grid-area: img4;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            justify-items: center;
        }
        margin: 30px 0;
        grid-area: img4;
        display: grid;
        justify-items: center;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        grid-template-areas: "ca1 ca2 ca3 ca4 ca5"
                                ;
        @for $var from 1 to 6 {
            .card#{$var}{
                grid-area:ca#{$var};
                padding: 5px;
                height: auto;
                width: 200px;
                margin: 15px 0;
                box-shadow: 5px 5px 20px black;
                background:rgba(255, 158, 174, 0.541) ;
                color: white;
                position: relative;
                overflow: hidden;
                border-radius: 6px;
                display: flex;
                flex-direction: column;
                &:hover .card1#{$var}{
                    bottom: 0px;
                    transition: 1s;
                }
                i{
                    text-align: center;
                    font-weight: 600;
                    font-size: 30px;
                    margin:5px auto;
                    color:rgb(160, 148, 131);
                }
                img{
                    width: 100%;
                    border-radius: 6px;
                    object-fit: cover;
                }
                .card1#{$var}{
                    background:rgba(102, 94, 84, 0.2);
                    backdrop-filter:blur(8px);
                    position: absolute;
                    width:100%;
                    bottom:-95px;
                    border-radius: 6px;
                    left:0;
                    transition: 0.5s;
                    display: flex;
                    flex-direction: column;
                    padding: 5px;
                    text-align: center;
                    h4{
                        text-align: center;
                        font-weight: 600;
                        font-size: 20px;
                        margin: auto;
                    }
                    button {
                        text-decoration: none;
                        border: 1px solid white;
                        border-radius: 6px;
                        padding: 5px;
                        background:rgb(160, 148, 131) ;
                        transition:0.5s;
                        &:hover{
                            background:rgb(112, 104, 92);
                            transition: 1s;
                        }
                        a{
                            text-decoration: none;
                            color: white;
                        }
                    }
                }   
            }  
        }
    }   
}
