* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
*::selection {
  color: pink;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background: rgb(160, 148, 131);
  border-radius: 10px;
}

body {
  background-color: rgb(255, 158, 174);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "nav" "main" "footer";
}
body .loading {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.705);
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  z-index: 2;
  width: 100%;
}
header .interior {
  width: 100%;
  background-color: rgb(238, 189, 157);
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  height: 120px;
}
@media (max-width: 720px) {
  header .interior {
    display: flex;
    position: fixed;
  }
}
header .interior .logo2 {
  float: left;
  padding: 5px 10x;
  height: 120px;
}
@media (max-width: 720px) {
  header .interior .logo2 {
    margin: auto;
  }
}
header .interior .logo2 img {
  height: 120px;
  transition: 0.5s;
}
header .interior .logo2 img:hover {
  transform: scale(1.1);
}
header .interior .navegacion {
  float: right;
  display: flex;
  height: 120px;
}
@media (max-width: 720px) {
  header .interior .navegacion .fa-solid:hover + ul {
    left: 0;
    transition: 0.5s;
  }
}
header .interior .navegacion .fa-solid {
  color: white;
  font-size: 30px;
  display: none;
}
@media (max-width: 720px) {
  header .interior .navegacion .fa-solid {
    display: flex;
    padding: 10px;
    margin: auto;
  }
}
header .interior .navegacion ul {
  margin: auto;
  justify-items: center;
}
@media (max-width: 720px) {
  header .interior .navegacion ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -250px;
    background: rgba(102, 94, 84, 0.2);
    backdrop-filter: blur(8px);
    width: 250px;
    height: 100vh;
    transition: 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.301);
    padding: 0%;
    margin: auto;
  }
  header .interior .navegacion ul:hover {
    left: 0;
  }
}
header .interior .navegacion ul .logo {
  float: left;
  padding: 5px 10x;
  height: 120px;
  display: none;
}
header .interior .navegacion ul .logo img {
  height: 120px;
  transition: 0.5s;
}
header .interior .navegacion ul .logo img:hover {
  transform: scale(1.1);
}
@media (max-width: 720px) {
  header .interior .navegacion ul .logo {
    display: flex;
    margin: 0 auto;
  }
}
header .interior .navegacion ul li {
  display: inline-block;
  transition: 0.5s;
}
@media (max-width: 720px) {
  header .interior .navegacion ul li {
    margin: 50px auto;
  }
}
header .interior .navegacion ul li:hover {
  transform: scale(1.1);
  background-color: rgb(160, 148, 131);
  border-radius: 5px;
}
header .interior .navegacion ul li a {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 25px;
  padding: 12px 20px;
  font-weight: 600;
  text-decoration: none;
}
header .interior .navegacion ul li a:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
header .interior .navegacion ul li:hover .hijos {
  display: block;
}
header .interior .navegacion ul .hijos {
  display: none;
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  overflow: hidden;
  width: auto;
  padding: 0%;
}
header .interior .navegacion ul .hijos li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mainindex {
  width: 100%;
  margin: auto;
  grid-area: main;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "img1 " "img2" "img3" "img4";
  background-color: rgb(216, 173, 144);
}
.mainindex .carrusel {
  width: 90%;
  grid-area: img1;
  margin: auto;
  z-index: 1;
}
@media (max-width: 720px) {
  .mainindex .carrusel {
    margin-top: 120px;
  }
}
.mainindex .imgsecundarias {
  grid-area: img2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "simg1 simg2 simg3";
  margin: 30px auto;
}
@media (max-width: 910px) {
  .mainindex .imgsecundarias {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "simg1 simg2" "simg3 simg3";
    margin-bottom: 30px;
    gap: 15px;
  }
}
@media (max-width: 720px) {
  .mainindex .imgsecundarias {
    grid-area: img2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "simg1" "simg2" "simg3";
    margin-bottom: 30px;
  }
}
.mainindex .imgsecundarias .imagen1 {
  grid-area: simg1;
  height: 300px;
  width: 300px;
  position: relative;
  overflow: hidden;
  margin: 0 10px;
}
@media (max-width: 910px) {
  .mainindex .imgsecundarias .imagen1 {
    grid-area: simg1;
    margin: 0;
  }
}
@media (max-width: 720px) {
  .mainindex .imgsecundarias .imagen1 {
    grid-area: simg1;
    width: 350px;
    height: 350px;
  }
}
.mainindex .imgsecundarias .imagen1 a img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.mainindex .imgsecundarias .imagen1 a img:hover {
  transform: scale(1.1);
  transition: 1s;
  opacity: 0.7;
}
.mainindex .imgsecundarias .imagen1 h1 {
  font-size: 3rem;
  color: white;
  font-weight: 600;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainindex .imgsecundarias .imagen2 {
  grid-area: simg2;
  height: 300px;
  width: 300px;
  position: relative;
  overflow: hidden;
  margin: 0 10px;
}
@media (max-width: 910px) {
  .mainindex .imgsecundarias .imagen2 {
    grid-area: simg2;
    margin: 0;
  }
}
@media (max-width: 720px) {
  .mainindex .imgsecundarias .imagen2 {
    grid-area: simg2;
    width: 350px;
    height: 350px;
  }
}
.mainindex .imgsecundarias .imagen2 a img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.mainindex .imgsecundarias .imagen2 a img:hover {
  transform: scale(1.1);
  transition: 1s;
  opacity: 0.7;
}
.mainindex .imgsecundarias .imagen2 h1 {
  font-size: 3rem;
  color: white;
  font-weight: 600;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainindex .imgsecundarias .imagen3 {
  grid-area: simg3;
  height: 300px;
  width: 300px;
  position: relative;
  overflow: hidden;
  margin: 0 10px;
}
@media (max-width: 910px) {
  .mainindex .imgsecundarias .imagen3 {
    grid-area: simg3;
    margin: 0;
  }
}
@media (max-width: 720px) {
  .mainindex .imgsecundarias .imagen3 {
    grid-area: simg3;
    width: 350px;
    height: 350px;
  }
}
.mainindex .imgsecundarias .imagen3 a img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.mainindex .imgsecundarias .imagen3 a img:hover {
  transform: scale(1.1);
  transition: 1s;
  opacity: 0.7;
}
.mainindex .imgsecundarias .imagen3 h1 {
  font-size: 3rem;
  color: white;
  font-weight: 600;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainindex .barrasep {
  grid-area: img3;
  width: 60%;
  margin: auto;
}
.mainindex .barrasep h2 {
  color: white;
  font-size: clamp(10px, 5vw, 25px);
  font-weight: 600;
  background-color: rgba(255, 158, 174, 0.541);
  text-align: center;
  padding: 10px;
}
.mainindex .contenedor {
  margin: 30px 0;
  grid-area: img4;
  display: grid;
  justify-items: center;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "ca1 ca2 ca3 ca4 ca5";
}
@media (max-width: 1000px) {
  .mainindex .contenedor {
    grid-area: img4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
  }
}
.mainindex .contenedor .card1 {
  grid-area: ca1;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainindex .contenedor .card1:hover .card11 {
  bottom: 0px;
  transition: 1s;
}
.mainindex .contenedor .card1 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainindex .contenedor .card1 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainindex .contenedor .card1 .card11 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainindex .contenedor .card1 .card11 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainindex .contenedor .card1 .card11 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainindex .contenedor .card1 .card11 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainindex .contenedor .card1 .card11 button a {
  text-decoration: none;
  color: white;
}
.mainindex .contenedor .card2 {
  grid-area: ca2;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainindex .contenedor .card2:hover .card12 {
  bottom: 0px;
  transition: 1s;
}
.mainindex .contenedor .card2 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainindex .contenedor .card2 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainindex .contenedor .card2 .card12 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainindex .contenedor .card2 .card12 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainindex .contenedor .card2 .card12 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainindex .contenedor .card2 .card12 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainindex .contenedor .card2 .card12 button a {
  text-decoration: none;
  color: white;
}
.mainindex .contenedor .card3 {
  grid-area: ca3;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainindex .contenedor .card3:hover .card13 {
  bottom: 0px;
  transition: 1s;
}
.mainindex .contenedor .card3 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainindex .contenedor .card3 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainindex .contenedor .card3 .card13 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainindex .contenedor .card3 .card13 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainindex .contenedor .card3 .card13 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainindex .contenedor .card3 .card13 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainindex .contenedor .card3 .card13 button a {
  text-decoration: none;
  color: white;
}
.mainindex .contenedor .card4 {
  grid-area: ca4;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainindex .contenedor .card4:hover .card14 {
  bottom: 0px;
  transition: 1s;
}
.mainindex .contenedor .card4 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainindex .contenedor .card4 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainindex .contenedor .card4 .card14 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainindex .contenedor .card4 .card14 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainindex .contenedor .card4 .card14 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainindex .contenedor .card4 .card14 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainindex .contenedor .card4 .card14 button a {
  text-decoration: none;
  color: white;
}
.mainindex .contenedor .card5 {
  grid-area: ca5;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainindex .contenedor .card5:hover .card15 {
  bottom: 0px;
  transition: 1s;
}
.mainindex .contenedor .card5 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainindex .contenedor .card5 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainindex .contenedor .card5 .card15 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainindex .contenedor .card5 .card15 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainindex .contenedor .card5 .card15 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainindex .contenedor .card5 .card15 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainindex .contenedor .card5 .card15 button a {
  text-decoration: none;
  color: white;
}

footer {
  grid-area: footer;
  width: 100%;
}
footer .pie {
  width: 100%;
  background-color: rgb(238, 189, 157);
  border-top: 1px solid rgba(0, 0, 0, 0.171);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "f1 f2";
}
@media (max-width: 720px) {
  footer .pie {
    grid-area: footer;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "f2 f2" "f1 f1";
  }
}
footer .pie .redes {
  grid-area: f2;
  display: flex;
  margin: auto;
  height: 100%;
}
footer .pie .redes a, footer .pie .redes .tituloderedes {
  color: white;
  font-size: 25px;
  font-weight: 600;
  padding: 0 10px;
  margin: auto;
}
footer .pie .redes a:hover, footer .pie .redes .tituloderedes:hover {
  transform: scale(1.1);
  color: rgb(160, 148, 131);
  transition: 0.5s;
}
footer .pie .contacto2 {
  grid-area: f1;
  display: flex;
  margin: auto;
  height: 100%;
}
footer .pie .contacto2 .titulodecontactos {
  color: white;
  font-size: 25px;
  font-weight: 600;
  padding: 0 10px;
  margin: auto;
}
footer .pie .contacto2 i {
  color: white;
  font-size: 25px;
  font-weight: 600;
  padding: 0 10px;
  margin: auto;
}

.mainform {
  height: 100vh;
  background-color: rgb(216, 173, 144);
}
.mainform .formulario5 {
  background-color: rgba(255, 158, 174, 0.541);
  margin: 100px auto;
  width: 80%;
  height: auto;
  color: white;
  padding: 20px;
  display: grid;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5803921569);
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.4784313725);
  border-radius: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "zona1 zona1" "zona2 zona3" "zona4 zona5" "zona6 zona6" "zona7 zona7";
}
@media (max-width: 480px) {
  .mainform .formulario5 {
    grid-template-areas: "zona1 zona1" "zona2 zona2" "zona3 zona3" "zona4 zona4" "zona5 zona5" "zona6 zona6" "zona7 zona7";
  }
}
.mainform .formulario5 h2:nth-child(1) {
  grid-area: zona1;
  margin: auto;
}
.mainform .formulario5 label:nth-child(2) {
  grid-area: zona2;
}
.mainform .formulario5 label:nth-child(3) {
  grid-area: zona3;
}
.mainform .formulario5 label:nth-child(4) {
  grid-area: zona4;
}
.mainform .formulario5 label:nth-child(5) {
  grid-area: zona5;
}
.mainform .formulario5 label:nth-child(6) {
  grid-area: zona6;
}
.mainform .formulario5 input:nth-child(7) {
  grid-area: zona7;
  background-color: rgb(160, 148, 131);
  border: none;
  padding: 20px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  transition: 0.5s;
}
.mainform .formulario5 input:nth-child(7):hover {
  background-color: rgb(121, 111, 99);
  transition: 1s;
  cursor: pointer;
}
.mainform .formulario5 label {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}
.mainform .formulario5 label input, .mainform .formulario5 label textarea {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(160, 148, 131);
  margin-top: 10px;
}

.mainacerca {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "main1" "main2";
  background-color: rgb(216, 173, 144);
}
@media (max-width: 720px) {
  .mainacerca {
    margin-top: 120px;
  }
}
.mainacerca .titulo {
  grid-area: main1;
  background-color: rgb(160, 148, 131);
  width: 50%;
  padding: 20px 0;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
@media (max-width: 720px) {
  .mainacerca .titulo {
    width: 80%;
  }
}
.mainacerca .titulo h1 {
  font-size: clamp(10px, 5vw, 40px);
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: white;
  font-weight: bold;
}
.mainacerca .galeria {
  grid-area: main2;
  width: 90%;
  display: grid;
  margin: 10px auto;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px 200px;
  grid-template-areas: "img1 img2 img3" "img7 img4 img5" "img6 img4 img5" "img8 img9 img9";
}
.mainacerca .galeria img:nth-child(1) {
  grid-area: img1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.mainacerca .galeria img:nth-child(1):hover {
  transform: scale(1.1);
  transition: 1s;
}
.mainacerca .galeria img:nth-child(2) {
  grid-area: img2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.mainacerca .galeria img:nth-child(2):hover {
  transform: scale(1.1);
  transition: 1s;
}
.mainacerca .galeria img:nth-child(3) {
  grid-area: img3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.mainacerca .galeria img:nth-child(3):hover {
  transform: scale(1.1);
  transition: 1s;
}
.mainacerca .galeria .info {
  grid-area: img4;
  background-color: rgb(160, 148, 131);
  display: flex;
  align-items: center;
}
.mainacerca .galeria .info p {
  text-align: center;
  font-weight: 600;
  color: white;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  font-size: clamp(10px, 2vw, 20px);
}
.mainacerca .galeria img:nth-child(4) {
  grid-area: img4;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.mainacerca .galeria img:nth-child(4):hover {
  transform: scale(1.1);
  transition: 1s;
}
.mainacerca .galeria img:nth-child(5) {
  grid-area: img5;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.mainacerca .galeria img:nth-child(5):hover {
  transform: scale(1.1);
  transition: 1s;
}
.mainacerca .galeria img:nth-child(6) {
  grid-area: img6;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.mainacerca .galeria img:nth-child(6):hover {
  transform: scale(1.1);
  transition: 1s;
}
.mainacerca .galeria img:nth-child(7) {
  grid-area: img7;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.mainacerca .galeria img:nth-child(7):hover {
  transform: scale(1.1);
  transition: 1s;
}
.mainacerca .galeria img:nth-child(8) {
  grid-area: img8;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.mainacerca .galeria img:nth-child(8):hover {
  transform: scale(1.1);
  transition: 1s;
}
.mainacerca .galeria img:nth-child(9) {
  grid-area: img9;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.mainacerca .galeria img:nth-child(9):hover {
  transform: scale(1.1);
  transition: 1s;
}

.mainproductos {
  width: 100%;
  margin: auto;
  grid-area: main;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "img1 " "img2" "img3" "img4" "img5";
  background-color: rgb(216, 173, 144);
}
.mainproductos .imgsecundarias {
  grid-area: img2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "simg1 simg2 simg3";
  margin: 30px auto;
}
@media (max-width: 910px) {
  .mainproductos .imgsecundarias {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "simg1 simg2" "simg3 simg3";
    margin-bottom: 30px;
    gap: 15px;
  }
}
@media (max-width: 720px) {
  .mainproductos .imgsecundarias {
    grid-area: img2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "simg1" "simg2" "simg3";
    margin-bottom: 30px;
    margin-top: 120px;
  }
}
.mainproductos .imgsecundarias .imagen1 {
  grid-area: simg1;
  height: 300px;
  width: 300px;
  position: relative;
  overflow: hidden;
  margin: 0 10px;
}
@media (max-width: 910px) {
  .mainproductos .imgsecundarias .imagen1 {
    grid-area: simg1;
    margin: 0;
  }
}
@media (max-width: 720px) {
  .mainproductos .imgsecundarias .imagen1 {
    grid-area: simg1;
    width: 350px;
    height: 350px;
  }
}
.mainproductos .imgsecundarias .imagen1 a img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.mainproductos .imgsecundarias .imagen1 a img:hover {
  transform: scale(1.1);
  transition: 1s;
  opacity: 0.7;
}
.mainproductos .imgsecundarias .imagen1 h1 {
  font-size: 3rem;
  color: white;
  font-weight: 600;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainproductos .imgsecundarias .imagen2 {
  grid-area: simg2;
  height: 300px;
  width: 300px;
  position: relative;
  overflow: hidden;
  margin: 0 10px;
}
@media (max-width: 910px) {
  .mainproductos .imgsecundarias .imagen2 {
    grid-area: simg2;
    margin: 0;
  }
}
@media (max-width: 720px) {
  .mainproductos .imgsecundarias .imagen2 {
    grid-area: simg2;
    width: 350px;
    height: 350px;
  }
}
.mainproductos .imgsecundarias .imagen2 a img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.mainproductos .imgsecundarias .imagen2 a img:hover {
  transform: scale(1.1);
  transition: 1s;
  opacity: 0.7;
}
.mainproductos .imgsecundarias .imagen2 h1 {
  font-size: 3rem;
  color: white;
  font-weight: 600;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainproductos .imgsecundarias .imagen3 {
  grid-area: simg3;
  height: 300px;
  width: 300px;
  position: relative;
  overflow: hidden;
  margin: 0 10px;
}
@media (max-width: 910px) {
  .mainproductos .imgsecundarias .imagen3 {
    grid-area: simg3;
    margin: 0;
  }
}
@media (max-width: 720px) {
  .mainproductos .imgsecundarias .imagen3 {
    grid-area: simg3;
    width: 350px;
    height: 350px;
  }
}
.mainproductos .imgsecundarias .imagen3 a img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.mainproductos .imgsecundarias .imagen3 a img:hover {
  transform: scale(1.1);
  transition: 1s;
  opacity: 0.7;
}
.mainproductos .imgsecundarias .imagen3 h1 {
  font-size: 3rem;
  color: white;
  font-weight: 600;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainproductos .barrasep {
  grid-area: img3;
  width: 100%;
  display: flex;
}
.mainproductos .barrasep img {
  margin: auto;
}
@media (max-width: 1000px) {
  .mainproductos .barrasep img {
    width: 100%;
  }
}
.mainproductos .contenedor {
  margin: 30px 0;
  grid-area: img4;
  display: grid;
  justify-items: center;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "ca1 ca2 ca3" "ca4 ca5 ca6" "ca7 ca8 ca9";
}
@media (max-width: 1000px) {
  .mainproductos .contenedor {
    grid-area: img4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
  }
}
.mainproductos .contenedor .card1 {
  grid-area: ca1;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainproductos .contenedor .card1:hover .card11 {
  bottom: 0px;
  transition: 1s;
}
.mainproductos .contenedor .card1 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainproductos .contenedor .card1 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainproductos .contenedor .card1 .card11 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainproductos .contenedor .card1 .card11 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainproductos .contenedor .card1 .card11 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainproductos .contenedor .card1 .card11 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainproductos .contenedor .card1 .card11 button a {
  text-decoration: none;
  color: white;
}
.mainproductos .contenedor .card2 {
  grid-area: ca2;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainproductos .contenedor .card2:hover .card12 {
  bottom: 0px;
  transition: 1s;
}
.mainproductos .contenedor .card2 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainproductos .contenedor .card2 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainproductos .contenedor .card2 .card12 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainproductos .contenedor .card2 .card12 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainproductos .contenedor .card2 .card12 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainproductos .contenedor .card2 .card12 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainproductos .contenedor .card2 .card12 button a {
  text-decoration: none;
  color: white;
}
.mainproductos .contenedor .card3 {
  grid-area: ca3;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainproductos .contenedor .card3:hover .card13 {
  bottom: 0px;
  transition: 1s;
}
.mainproductos .contenedor .card3 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainproductos .contenedor .card3 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainproductos .contenedor .card3 .card13 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainproductos .contenedor .card3 .card13 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainproductos .contenedor .card3 .card13 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainproductos .contenedor .card3 .card13 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainproductos .contenedor .card3 .card13 button a {
  text-decoration: none;
  color: white;
}
.mainproductos .contenedor .card4 {
  grid-area: ca4;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainproductos .contenedor .card4:hover .card14 {
  bottom: 0px;
  transition: 1s;
}
.mainproductos .contenedor .card4 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainproductos .contenedor .card4 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainproductos .contenedor .card4 .card14 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainproductos .contenedor .card4 .card14 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainproductos .contenedor .card4 .card14 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainproductos .contenedor .card4 .card14 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainproductos .contenedor .card4 .card14 button a {
  text-decoration: none;
  color: white;
}
.mainproductos .contenedor .card5 {
  grid-area: ca5;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainproductos .contenedor .card5:hover .card15 {
  bottom: 0px;
  transition: 1s;
}
.mainproductos .contenedor .card5 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainproductos .contenedor .card5 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainproductos .contenedor .card5 .card15 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainproductos .contenedor .card5 .card15 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainproductos .contenedor .card5 .card15 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainproductos .contenedor .card5 .card15 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainproductos .contenedor .card5 .card15 button a {
  text-decoration: none;
  color: white;
}
.mainproductos .contenedor .card6 {
  grid-area: ca6;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainproductos .contenedor .card6:hover .card16 {
  bottom: 0px;
  transition: 1s;
}
.mainproductos .contenedor .card6 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainproductos .contenedor .card6 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainproductos .contenedor .card6 .card16 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainproductos .contenedor .card6 .card16 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainproductos .contenedor .card6 .card16 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainproductos .contenedor .card6 .card16 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainproductos .contenedor .card6 .card16 button a {
  text-decoration: none;
  color: white;
}
.mainproductos .contenedor .card7 {
  grid-area: ca7;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainproductos .contenedor .card7:hover .card17 {
  bottom: 0px;
  transition: 1s;
}
.mainproductos .contenedor .card7 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainproductos .contenedor .card7 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainproductos .contenedor .card7 .card17 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainproductos .contenedor .card7 .card17 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainproductos .contenedor .card7 .card17 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainproductos .contenedor .card7 .card17 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainproductos .contenedor .card7 .card17 button a {
  text-decoration: none;
  color: white;
}
.mainproductos .contenedor .card8 {
  grid-area: ca8;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainproductos .contenedor .card8:hover .card18 {
  bottom: 0px;
  transition: 1s;
}
.mainproductos .contenedor .card8 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainproductos .contenedor .card8 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainproductos .contenedor .card8 .card18 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainproductos .contenedor .card8 .card18 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainproductos .contenedor .card8 .card18 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainproductos .contenedor .card8 .card18 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainproductos .contenedor .card8 .card18 button a {
  text-decoration: none;
  color: white;
}
.mainproductos .contenedor .card9 {
  grid-area: ca9;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainproductos .contenedor .card9:hover .card19 {
  bottom: 0px;
  transition: 1s;
}
.mainproductos .contenedor .card9 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainproductos .contenedor .card9 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainproductos .contenedor .card9 .card19 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainproductos .contenedor .card9 .card19 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainproductos .contenedor .card9 .card19 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainproductos .contenedor .card9 .card19 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainproductos .contenedor .card9 .card19 button a {
  text-decoration: none;
  color: white;
}

.mainbotas {
  width: 100%;
  margin: auto;
  grid-area: main;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "img1 " "img2" "img3" "img4" "img5";
  background-color: rgb(216, 173, 144);
}
.mainbotas .contenedor {
  margin: 30px 0;
  grid-area: img1;
  display: grid;
  justify-items: center;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "ca1 ca2 ca3" "ca4 ca5 ca6" "ca7 ca8 ca9";
}
@media (max-width: 1000px) {
  .mainbotas .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
  }
}
@media (max-width: 720px) {
  .mainbotas .contenedor {
    margin-top: 120px;
  }
}
.mainbotas .contenedor .card1 {
  grid-area: ca1;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainbotas .contenedor .card1:hover .card11 {
  bottom: 0px;
  transition: 1s;
}
.mainbotas .contenedor .card1 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainbotas .contenedor .card1 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainbotas .contenedor .card1 .card11 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainbotas .contenedor .card1 .card11 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainbotas .contenedor .card1 .card11 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainbotas .contenedor .card1 .card11 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainbotas .contenedor .card1 .card11 button a {
  text-decoration: none;
  color: white;
}
.mainbotas .contenedor .card2 {
  grid-area: ca2;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainbotas .contenedor .card2:hover .card12 {
  bottom: 0px;
  transition: 1s;
}
.mainbotas .contenedor .card2 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainbotas .contenedor .card2 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainbotas .contenedor .card2 .card12 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainbotas .contenedor .card2 .card12 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainbotas .contenedor .card2 .card12 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainbotas .contenedor .card2 .card12 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainbotas .contenedor .card2 .card12 button a {
  text-decoration: none;
  color: white;
}
.mainbotas .contenedor .card3 {
  grid-area: ca3;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainbotas .contenedor .card3:hover .card13 {
  bottom: 0px;
  transition: 1s;
}
.mainbotas .contenedor .card3 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainbotas .contenedor .card3 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainbotas .contenedor .card3 .card13 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainbotas .contenedor .card3 .card13 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainbotas .contenedor .card3 .card13 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainbotas .contenedor .card3 .card13 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainbotas .contenedor .card3 .card13 button a {
  text-decoration: none;
  color: white;
}
.mainbotas .contenedor .card4 {
  grid-area: ca4;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainbotas .contenedor .card4:hover .card14 {
  bottom: 0px;
  transition: 1s;
}
.mainbotas .contenedor .card4 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainbotas .contenedor .card4 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainbotas .contenedor .card4 .card14 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainbotas .contenedor .card4 .card14 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainbotas .contenedor .card4 .card14 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainbotas .contenedor .card4 .card14 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainbotas .contenedor .card4 .card14 button a {
  text-decoration: none;
  color: white;
}
.mainbotas .contenedor .card5 {
  grid-area: ca5;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainbotas .contenedor .card5:hover .card15 {
  bottom: 0px;
  transition: 1s;
}
.mainbotas .contenedor .card5 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainbotas .contenedor .card5 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainbotas .contenedor .card5 .card15 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainbotas .contenedor .card5 .card15 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainbotas .contenedor .card5 .card15 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainbotas .contenedor .card5 .card15 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainbotas .contenedor .card5 .card15 button a {
  text-decoration: none;
  color: white;
}
.mainbotas .contenedor .card6 {
  grid-area: ca6;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainbotas .contenedor .card6:hover .card16 {
  bottom: 0px;
  transition: 1s;
}
.mainbotas .contenedor .card6 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainbotas .contenedor .card6 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainbotas .contenedor .card6 .card16 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainbotas .contenedor .card6 .card16 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainbotas .contenedor .card6 .card16 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainbotas .contenedor .card6 .card16 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainbotas .contenedor .card6 .card16 button a {
  text-decoration: none;
  color: white;
}
.mainbotas .contenedor .card7 {
  grid-area: ca7;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainbotas .contenedor .card7:hover .card17 {
  bottom: 0px;
  transition: 1s;
}
.mainbotas .contenedor .card7 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainbotas .contenedor .card7 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainbotas .contenedor .card7 .card17 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainbotas .contenedor .card7 .card17 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainbotas .contenedor .card7 .card17 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainbotas .contenedor .card7 .card17 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainbotas .contenedor .card7 .card17 button a {
  text-decoration: none;
  color: white;
}
.mainbotas .contenedor .card8 {
  grid-area: ca8;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainbotas .contenedor .card8:hover .card18 {
  bottom: 0px;
  transition: 1s;
}
.mainbotas .contenedor .card8 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainbotas .contenedor .card8 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainbotas .contenedor .card8 .card18 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainbotas .contenedor .card8 .card18 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainbotas .contenedor .card8 .card18 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainbotas .contenedor .card8 .card18 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainbotas .contenedor .card8 .card18 button a {
  text-decoration: none;
  color: white;
}
.mainbotas .contenedor .card9 {
  grid-area: ca9;
  padding: 5px;
  height: auto;
  width: 200px;
  margin: 15px 0;
  box-shadow: 5px 5px 20px black;
  background: rgba(255, 158, 174, 0.541);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.mainbotas .contenedor .card9:hover .card19 {
  bottom: 0px;
  transition: 1s;
}
.mainbotas .contenedor .card9 i {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5px auto;
  color: rgb(160, 148, 131);
}
.mainbotas .contenedor .card9 img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.mainbotas .contenedor .card9 .card19 {
  background: rgba(102, 94, 84, 0.2);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  bottom: -95px;
  border-radius: 6px;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.mainbotas .contenedor .card9 .card19 h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.mainbotas .contenedor .card9 .card19 button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: rgb(160, 148, 131);
  transition: 0.5s;
}
.mainbotas .contenedor .card9 .card19 button:hover {
  background: rgb(112, 104, 92);
  transition: 1s;
}
.mainbotas .contenedor .card9 .card19 button a {
  text-decoration: none;
  color: white;
}